.testing {
  width: percentage(5/7);
}

.testing1 {
  height: percentage(8/9);
}

.testing2 {
  height: percentage(5/9);
}

.testing3 {
  height: percentage(5/9);
}

.testing4 {
  width: percentage(5/9);
}